#ignore these in git listings
*.pyc
*~
.emacs*
.DS_Store
.swp
\#*#
.#*
\#*
*.sublime-*
.venv
.jshintrc
setup.cfg
.env
.idea

tests/static/css
/lib/booktype/convert/pdfreactor
/lib/booktype/apps/themes/templates/themes/style_pdfreactor.css
