body {
	background-color:white;
	font-family:helvetica,arial,verdana;
	font-size:12px;
	background-image: url(/site_media/images/tile_grey.png);
}

a {
	text-decoration: none;
}

a:link {color:#555;}
a:visited {color: #555;}
a:hover {text-decoration: none; color: black;}
img {border-style:none;} 

.shadow-container {
    	-moz-box-shadow: 4px 4px 4px #848284; /* FF3.5+ */
    	-webkit-box-shadow: 4px 4px 4px #848284; /* Saf3.0+, Chrome */
    	box-shadow: 4px 4px 4px #848284; /* Opera 10.5, IE 9.0 */
}
 
 
.container {
	position: relative;
	background: #ffffff;
	border: 1px solid #848284;
	padding: 0px;
	}

button {
        color:white;
        font-weight:bold;
        background-color: black;
        border:0px solid;
}

input {
        background-color: white;
        border:1px solid black;
}

select {
        background-color: white;
        border:1px solid black;
}

