#chat {
    
}

#chat .icon {
    background-color: blue;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}

#chat .content {
    overflow: auto;
}

#chat P {
    font-size: 8px;
}

#chat2 {
 font-size: 12px;   
}

#chat2 .icon {
    background-color: blue;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}

#chat2 .content {
    overflow: auto;
}

#chat2 P {
    font-size: 12px;
}



H4 {
   margin-bottom: 5px;
   font-size: 12px;
}

#users {
 font-size: 10px;
}

#chapterslist { list-style-type: none; margin: 0; padding: 0; width: 90%; }
#chapterslist li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#chapterslist li span { position: absolute; margin-left: -1.3em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#notify {
    /*position: absolute; */
    position: fixed;
    top: 2px;
    left: 2px;
    display: none;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 3px;
}
 

BODY {
  margin-top: 0px; 
  font-size: 12px;
}

#header {
 background-color: #c0c0c0;
}

